{% extends "tg-mini-app/base.html" %}
{% load tz %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="app_page text_center">
    <div class="rounded_sections_container">
        <div class="rounded_section d_block">
            <h4>Hello {{ bot_user.first_name }}!</h4>
            <h2>{% translate 'Welcome to Wishr!' %}</h2>
        </div>
        {% for lot in lots %}
        <div class="rounded_section mt_12px p_4px justify_items_left">
            <div style="background-image: url('{{ lot.get_main_image_url }}'); height: 100px; width: 25%; background-size: cover; border-radius: 16px; background-repeat: no-repeat; background-position: center">
            </div>
            <div class="ms_8px text_left position_relative" style="width: 75%">
                <div class="mt_4px two_line_ellipse">{{ lot.title }}</div>
                <div class="fs_14px mt_4px">
                    <span class="muted_color">{{ lot.natural_created_at }} •</span>
                    {% if lot.offers_count > 0 %}
                    <span class="purple_color fw_600">
                        {% blocktrans count lot.offers_count as counter %}{{ counter }} offer{% plural %}{{ counter }} offers{% endblocktrans %}
                    </span>
                    {% else %}
                    <span class="muted_color fw_600">
                        {% trans "no offers" %}
                    </span>
                    {% endif %}
                </div>
                <div class="fs_18px position_absolute" style="bottom: 4px">
                    {% if lot.max_price %}
                    {% blocktranslate with max_price=lot.max_price|floatformat|intcomma %}up to <span class="fw_600">{{ max_price }} UZS</span>{% endblocktranslate %}
                    {% else %}
                    <span class="badge bg_gray black_color">{% trans 'open to offers' %}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}