{% extends "tg-mini-app/base.html" %}
{% load svg_tags %}
{% load humanize %}
{% load tz %}
{% load i18n %}
{% load static %}
{% block content %}
<script src="{% static "js/jquery.tinytimer.min.js" %}" type="text/javascript"></script>
<div class="app_page">
    <div class="rounded_sections_container">
        <div class="d_flex">
            <div class="mb_0 me_16px" style="position: relative;width: calc(100% - 40px)">
            <h3 class="m_0">{% trans "Hello" %}, {{ bot_user.first_name }}</h3>
            <span class="fs_14px">{% trans "Where do you want to go?" %}</span>
            </div>
            <a href="{% url 'tg_user_detail' bot_user.id %}" class="d_flex">
                <img src="{{ bot_user.photo_url }}" alt="" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
            </a>
        </div>
        {% if sent_trip_requests.count == 0 %}
        <div class="rounded_section section_with_list mt_16px">
            <ul>
                <li>
                    <a href="{% url 'tg_select_region' %}?location_type=start">
                        <div class="list_item_icon">
                            {% render_svg "location_dot" size="20" color="#26C485" %}
                        </div>
                        <div class="list_item_text">
                            <div>
                                {% if draft_trip_request.region_a or draft_trip_request.location_a %}
                                    {{ draft_trip_request.get_from_text }}
                                {% else %}
                                    <span class="muted_color">{% trans "From?" %}</span>
                                {% endif %}
                            </div>
                            <div class="section_counter">
                                {% render_svg "angle_right" %}
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'tg_select_region' %}?location_type=finish">
                        <div class="list_item_icon">
                            {% render_svg "location_arrow" size="20" svg_class="svg_link_color" %}
                        </div>
                        <div class="list_item_text">
                            <div>
                                {% if draft_trip_request.region_b or draft_trip_request.location_b %}
                                    {{ draft_trip_request.get_to_text }}
                                {% else %}
                                    <span class="muted_color">{% trans "To?" %}</span>
                                {% endif %}
                            </div>
                            <div class="section_counter">
                                {% render_svg "angle_right" %}
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="rounded_section section_with_list mt_16px mb_16px">
            <ul>
                <li>
                    <a href="{% url 'tg_select_people_count' %}">
                        <div class="list_item_icon">
                            {% if draft_trip_request.people_count and draft_trip_request.people_count == 1 %}
                                {% render_svg "person" size="20" svg_class="svg_gray_color" %}
                            {% elif draft_trip_request.people_count and draft_trip_request.people_count == 100 %}
                                {% render_svg "car_rear" size="20" svg_class="svg_gray_color" %}
                            {% else %}
                                {% render_svg "people_group" size="20" svg_class="svg_gray_color" %}
                            {% endif %}
                        </div>
                        <div class="list_item_text">
                            <div>
                                {% if draft_trip_request.people_count %}
                                    {% if draft_trip_request.people_count < 100 %}
                                        {% blocktranslate count counter=draft_trip_request.people_count %}{{ counter }} person{% plural %}{{ counter }} people{% endblocktranslate %}
                                    {% else %}
                                        {% trans "Empty car" %}
                                    {% endif %}
                                {% else %}
                                    <span class="muted_color">{% trans "How many people?" %}</span>
                                {% endif %}
                            </div>
                            <div class="section_counter black_color">
                                {% render_svg "angle_right" %}
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <form method="post">
            {% csrf_token %}
            <label class="list_section_label">{% translate 'Your price' %}</label>
            <div class="input_block mt_8px mb_4px">
                <input type="number" min="1000" value="{{ draft_trip_request.cost|floatformat }}" name="cost" placeholder="" required>
            </div>
            <div class="input_help_text mb_16px">
                {% if draft_trip_request.people_count and draft_trip_request.people_count < 100 %}
                {% translate 'Your total price of the trip, including the number of passengers' %}
                {% endif %}
            </div>
            <label class="list_section_label" for="comments">{% translate 'Comments' %}</label>
            <div class="input_block mt_8px mb_4px" id="comments">
                <textarea name="comments" placeholder="">{% if draft_trip_request.comments %}{{ draft_trip_request.comments }}{% endif %}</textarea>
            </div>
            <button type="submit" class="rounded_section mt_16px justify_content_center bg_main_green white_color fs_15px" style="width: -webkit-fill-available; border: none">{% trans "Find car" %}</button>
        </form>
        {% else %}
        <div class="list_section_label mt_16px" style="width: -webkit-fill-available">
            {% trans "Actual trips" %}
            <div class="muted_color fs_15px" style="float: right" id="trip_request_timer_{{ tr.id }}"></div>
        </div>
        {% for tr in sent_trip_requests %}
        <a class="rounded_section" href="{% url 'tg_trip_request' tr.id %}">
            <div class="section_text">
                <div style="width: 80%">
                    {% blocktrans with to_location=tr.get_to_text %}Trip to {{ to_location }}{% endblocktrans %}
                    <div class="mt_8px">
                        <span class="badge badge-s bg_gray muted_color align_items_center" style="display: inline-flex;font-weight: 600 ">
                            {% render_svg "people_group" size="18" svg_class="svg_gray_color me_4px" %}
                            {{ tr.people_count }}
                        </span>
                        {% if tr.cost %}
                        <span class="badge badge-s bg_gray muted_color align_items_center" style="display: inline-flex;font-weight: 600 ">
                            {% render_svg "money_bill" size="18" svg_class="svg_gray_color me_4px" %}
                            {{ tr.cost|floatformat|intcomma }} {% trans "UZS" %}
                        </span>
                        {% endif %}
                    </div>
                </div>
                <div class="section_counter">
                    <span id="trip_request_timer_{{ tr.id }}"></span>
                    {% render_svg "angle_right" %}
                </div>
            </div>
        </a>
        <script>
            $( document ).ready(function() {
                var d = new Date('{{ tr.sent_at|date:"Y-m-d H:i:s" }}');
                $('#trip_request_timer_{{ tr.id }}').tinyTimer({
                    from: d
                });
            });
        </script>
        {% endfor %}
        {% endif %}
    </div>
</div>
<script>
function cancelTripRequest(status) {
    if (status) {
        window.location.href = '?cancel_trip_request=1';
    }
}
</script>
{% endblock %}