.bottom-sheet-wrapper .backdrop {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: rgba(0, 0, 0, 0.6);
	 transition: all 0.2s ease-in-out;
	 opacity: 0;
	 pointer-events: none;
}
 .bottom-sheet-wrapper .bottom-sheet {
	 background: #fff;
	 width: 97%;
	 min-height: 200px;
	 position: absolute;
	 z-index: 2;
	 border-radius: 15px;
	 transition: all 0.2s ease-in-out;
	 left: 50%;
	 transform: translateX(-50%);
	 bottom: -110%;
}
 .bottom-sheet-wrapper.show-modal .backdrop {
	 opacity: 1;
	 pointer-events: all;
}
 .bottom-sheet-wrapper.show-modal .bottom-sheet {
	 bottom: 5px;
}
 .close {
	 position: relative;
	 width: 20px;
	 height: 20px;
	 float: right;
	 margin: 10px;
	 cursor: pointer;
}
 .close span {
	 display: block;
	 width: 100%;
	 height: 2px;
	 border-radius: 2px;
	 background: red;
	 transform: rotate(45deg);
}
 .close span::before {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 2px;
	 border-radius: 2px;
	 background: red;
	 transform: rotate(90deg);
}