{% extends "tg-mini-app/base.html" %}
{% load svg_tags %}
{% load i18n %}
{% block content %}
<div class="app_page pb_0px">
    <div class="rounded_section rounded_section_with_label section_with_list br_0" style="min-height: calc(100vh)">
        <div class="list_section_label">{% translate 'How many people?' %}</div>
        <ul>
            <li>
                <a href="?select=1">
                    <div class="list_item_icon">
                        {% render_svg "person" size="20" svg_class="svg_gray_color" %}
                    </div>
                    <div class="list_item_text">
                        {% blocktranslate count counter=1 %}{{ counter }} person{% plural %}{{ counter }} people{% endblocktranslate %}
                    </div>
                </a>
            </li>
            <li>
                <a href="?select=2">
                    <div class="list_item_icon">
                        {% render_svg "people_group" size="20" svg_class="svg_gray_color" %}
                    </div>
                    <div class="list_item_text">
                        {% blocktranslate count counter=2 %}{{ counter }} person{% plural %}{{ counter }} people{% endblocktranslate %}
                    </div>
                </a>
            </li>
            <li>
                <a href="?select=3">
                    <div class="list_item_icon">
                        {% render_svg "people_group" size="20" svg_class="svg_gray_color" %}
                    </div>
                    <div class="list_item_text">
                        {% blocktranslate count counter=3 %}{{ counter }} person{% plural %}{{ counter }} people{% endblocktranslate %}
                    </div>
                </a>
            </li>
            <li>
                <a href="?select=4">
                    <div class="list_item_icon">
                        {% render_svg "people_group" size="20" svg_class="svg_gray_color" %}
                    </div>
                    <div class="list_item_text">
                        {% blocktranslate count counter=4 %}{{ counter }} person{% plural %}{{ counter }} people{% endblocktranslate %}
                    </div>
                </a>
            </li>
            <li>
                <a href="?select=100">
                    <div class="list_item_icon">
                        {% render_svg "car_rear" size="20" svg_class="svg_gray_color" %}
                    </div>
                    <div class="list_item_text">
                        {% trans "Empty car" %}
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
if (TelegramData.MainButton) {
  TelegramData.MainButton.hide();
}
</script>
{% endblock %}