{% extends "tg-mini-app/base.html" %}
{% load svg_tags %}
{% load humanize %}
{% load tz %}
{% load i18n %}
{% load static %}
{% block content %}
<script src="{% static "js/jquery.tinytimer.min.js" %}" type="text/javascript"></script>
<div class="app_page">
    <div class="rounded_sections_container">
        <div class="d_flex">
            <div class="mb_0 me_16px" style="position: relative;">
                <h3 class="m_0">{% blocktrans with to_location=t_request.get_to_text %}Trip to {{ to_location }}{% endblocktrans %}</h3>
                <span class="fs_14px">{% trans "Searching for a car" %}...</span>
            </div>
        </div>
        <div class="rounded_section mt_16px d_block justify_items_left">
            <div class="w-100 text_center py_8px">
                <div id="trip_request_timer" class="fs_25px fw_600"></div>
                {% if is_owner %}
                <div class="fs_15px muted_color mt_4px">
                    {% blocktranslate count counter=t_request.views_count %}<b>{{ counter }}</b> driver saw your request{% plural %}<b>{{ counter }}</b> drivers saw your request{% endblocktranslate %}
                </div>
                {% endif %}
            </div>
        </div>
        {% if driver %}
        <div class="rounded_section mt_16px">
            <div class="section_icon">
            <img src="{{ t_request.user.botuser.photo_url }}" alt="" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
            </div>
            <div class="section_text">
                <div>
                {{ t_request.user.get_full_name }}<br>
                <span class="muted_color fs_12px">{% trans "Client" %}</span>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="rounded_section rounded_section_with_label section_with_list mt_16px">
            <div class="list_section_label" style="width: -webkit-fill-available">
                {% trans "Details" %}
{#                <div class="muted_color fs_15px" style="float: right" ></div>#}
            </div>
            <ul>
                <li>
                    <div class="list_item_icon">
                        {% render_svg "location_dot" size="20" color="#26C485" %}
                    </div>
                    <div class="list_item_text" style="border: none">
                        <div>{{ t_request.get_from_text }}</div>
                    </div>
                </li>
                <li>
                    <div class="list_item_icon">
                        {% render_svg "location_arrow" size="20" svg_class="svg_link_color" %}
                    </div>
                    <div class="list_item_text" style="border: none">
                        <div>{{ t_request.get_to_text }}</div>
                    </div>
                </li>
                <li>
                    <div class="list_item_icon">
                        {% render_svg "people_group" size="20" svg_class="svg_gray_color" %}
                    </div>
                    <div class="list_item_text" style="border: none">
                        <div>
                            {% if t_request.people_count < 100 %}
                                {% blocktranslate count counter=t_request.people_count %}{{ counter }} person{% plural %}{{ counter }} people{% endblocktranslate %}
                            {% else %}
                                <u>{% trans "Empty car" %}</u>
                            {% endif %}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="list_item_icon">
                        {% render_svg "money_bill" size="20" svg_class="svg_gray_color" %}
                    </div>
                    <div class="list_item_text" style="border: none">
                        <div><b>{{ t_request.cost|floatformat|intcomma }} {% trans "UZS" %}</b></div>
                    </div>
                </li>
                {% if t_request.comments %}
                <li>
                    <div class="list_item_icon">
                        {% render_svg "comment" size="20" svg_class="svg_gray_color" %}
                    </div>
                    <div class="list_item_text" style="border: none">
                        <div>{{ t_request.comments }}</div>
                    </div>
                </li>
                {% endif %}
            </ul>
            <div class="buttons_container mt_0" style="width: -webkit-fill-available;">
{#                <a href="#" class="button button-bazeled py_12px" style="min-height: auto">{% trans "Call" %}</a>#}
                {% if is_owner %}
                <a href="#" class="button button-danger py_12px fs_15px" style="min-height: auto" onclick="TelegramData.showConfirm('{% trans "Do you really want to cancel your trip?" %}', cancelTripRequest)">{% trans "Cancel trip" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
function cancelTripRequest(status) {
    if (status) {
        window.location.href = '?cancel_trip_request=1';
    }
}

$( document ).ready(function() {
    var d = new Date('{{ t_request.sent_at|date:"Y-m-d H:i:s" }}');
    $('#trip_request_timer').tinyTimer({
        from: d
    });
});
</script>
{% endblock %}