{% extends "tg-mini-app/base.html" %}
{% load i18n %}
{% block content %}
<style>
.app_page a.collapse_link.collapsed::after {
    content: '+ {% translate 'More' %}';
}

.app_page a.collapse_link:not(.collapsed)::after {
    content: '- {% translate 'Less' %}';
}
</style>
<div class="app_page">
    <div class="rounded_sections_container">
        <div class="rounded_section d_block justify_items_left">
            <h3 class="mt_0 mb_8px">{{ lot.title }}</h3>
            <div>
                <span class="muted_color">{{ lot.natural_created_at }} •</span>
                {% if lot.offers_count > 0 %}
                <span class="purple_color fw_600">
                    {% blocktrans count lot.offers_count as counter %}{{ counter }} offer{% plural %}{{ counter }} offers{% endblocktrans %}
                </span>
                {% else %}
                <span class="muted_color fw_600">
                    {% trans "no offers" %}
                </span>
                {% endif %}
            </div>
        </div>
        {% if lot.description  %}
        <div class="list_section_label mt_16px">{% translate 'Description' %}</div>
        <div class="rounded_section d_block">
            <div class="white_space_pre_line collapse" id="description">{{ lot.description }}</div>
            {% if lot.description|length > 210 %}
            <a role="button" class="collapse_link collapsed muted_color fs_14px" href="#description"
               onclick="this.classList.toggle('collapsed');document.getElementById('description').classList.toggle('show');">
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
<script>
TelegramData.BackButton.onClick(function () {
    window.location.href = '{% url "tg_home" %}';
});
TelegramData.BackButton.show();

if (TelegramData.MainButton) {
    TelegramData.MainButton.hide();
}
</script>
{% endblock %}