{% extends "tg-mini-app/base.html" %}
{% load humanize %}
{% load i18n %}
{% block content %}
<style>
.app_page a.collapse_link.collapsed::after {
    content: '+ {% translate 'More' %}';
}

.app_page a.collapse_link:not(.collapsed)::after {
    content: '- {% translate 'Less' %}';
}
</style>
<div class="app_page pb_0px">
    <div class="rounded_sections_container">
        <div class="rounded_section d_block justify_items_left">
            <div class="mb_8px mt_6px w-100 text_center">
                <img src="{{ lot.get_main_image_url }}" alt="" style="border-radius: 16px; max-height: 250px; max-width: 100%;">
            </div>
            <span class="one_line_ellipse fs_15px">{% blocktranslate with user=lot.user.first_name %}{{ user }} wishes to buy{% endblocktranslate %}:</span>
            <h3 class="mt_0 mb_8px">{{ lot.title }}</h3>
            <div>
                <span class="muted_color">{{ lot.natural_created_at }} •</span>
                {% if lot.offers_count > 0 %}
                <span class="purple_color fw_600">
                    {% blocktrans count lot.offers_count as counter %}{{ counter }} offer{% plural %}{{ counter }} offers{% endblocktrans %}
                </span>
                {% else %}
                <span class="muted_color fw_600">
                    {% trans "no offers" %}
                </span>
                {% endif %}
            </div>
            <div class="mt_8px">
                {% for cat in lot_cats %}
                <a href="{% url 'tg_cat_page' cat.slug %}" class="badge badge-s link_color" style="text-decoration: none">/{{ cat.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% if lot.description  %}
        <div class="list_section_label mt_16px">{% translate 'Description' %}</div>
        <div class="rounded_section d_block justify_items_left">
            <div class="white_space_pre_line collapse" id="description">{{ lot.description }}</div>
            {% if lot.description|length > 210 %}
            <a role="button" class="collapse_link collapsed muted_color fs_14px" href="#description"
               onclick="this.classList.toggle('collapsed');document.getElementById('description').classList.toggle('show');">
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="rounded_section rounded_section_with_label section_with_list br_0" style="min-height: calc(100vh - 475px {% if not lot.description %}+ 80px{% endif %})">
        <div class="list_section_label">{% trans "Offers" %}</div>
        <ul>
            {% for offer in lot_offers %}
                <li>
                    <div class="list_item_icon" onclick="window.location.href='{% url 'tg_user_detail' offer.user_id %}'">
                        {% if offer.user.botuser.photo_url %}
                            <img src="{{ offer.user.botuser.photo_url }}" alt="" width="40">
                        {% endif %}
                    </div>
                    <div class="list_item_text">
                        <div>
                            {{ offer.user.botuser.get_display_name }}<br>
                            <span class="secondary_text">
                                {{ offer.natural_created_at }} •
                                {% blocktrans count offer.get_total_user_offers_count as counter %}{{ counter }} offer{% plural %}{{ counter }} offers{% endblocktrans %}
                            </span>
                        </div>
                        <div class="section_counter success_color">
                            <div>
                                {{ offer.price|floatformat|intcomma }}
{#                                    <div class="secondary_text">{{ subscr.date_created }}</div>#}
                            </div>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li>
                    <div class="text_center muted_color" style="width: 100%; padding: 64px 0">
                        {% translate "Nothing was found" %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if lot.max_price %}
<div class="position_sticky bg_bottom_panel_color p_4px text_center fs_14px border_top" style="bottom: 0;">
    {% trans "Maximum offer price" %}: {{ lot.max_price|floatformat|intcomma }} {% trans "UZS" %}
</div>
{% endif %}
<script>
if (TelegramData.MainButton) {
     TelegramData.MainButton.enable();
     {% if lot.user != bot_user.user %}
     TelegramData.MainButton.setParams({
         "has_shine_effect": false,
         "text": "{% translate "Make an Offer" %}"
     });
     TelegramData.MainButton.onClick(function () {
         alert("Soon...")
     });
    {% else %}
     TelegramData.MainButton.setParams({
         "has_shine_effect": false,
         "color": "#ffffff",
         "text_color": "#000",
         "text": "{% translate "Edit" %}"
     });
     TelegramData.MainButton.onClick(function () {
         window.location.href = '{% url "tg_lot_edit" lot.id %}';
     });
    {% endif %}
     TelegramData.MainButton.show();
}
</script>
{% endblock %}