name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: 1.x.x # Specify a specific Poetry version or use 'latest'
    - name: Install dependencies
      run: poetry install --no-root
#    - name: Install dependencies
#      run: |
#        python -m pip install --upgrade pip
#        pip install pylint
#        pip install pylint_django[with-django]
    - name: Analysing the code with pylint
      run: |
        pylint --load-plugins pylint_django --django-settings-module=wishr.settings $(git ls-files '*.py')
